.page {
  height: 100dvh;
  font-family: var(--font-family);
  font-weight: var(--fw-400);
  font-style: normal;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--color-black);
  background-color: var(--color-white);
  font-optical-sizing: auto;
}

.page__body {
  min-width: 320px;
  min-height: 100dvh;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

a {
  font-weight: var(--fw-500);
  color: var(--color-blue-400);
  text-decoration: inherit;
}